/*--------------------------------------------------------------
 font-face - Roboto
--------------------------------------------------------------*/
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"), url(../fonts/Roboto/Roboto-Light.woff2) format("woff2"), url(../fonts/Roboto/Roboto-Light.woff) format("woff"), url(../fonts/Roboto/Roboto-Light.ttf) format("truetype");
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(../fonts/Roboto/Roboto.woff2) format("woff2"), url(../fonts/Roboto/Roboto.woff) format("woff"), url(../fonts/Roboto/Roboto.ttf) format("truetype");
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url(../fonts/Roboto/Roboto-Medium.woff2) format("woff2"), url(../fonts/Roboto/Roboto-Medium.woff) format("woff"), url(../fonts/Roboto/Roboto-Medium.ttf) format("truetype");
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url(../fonts/Roboto/Roboto-Bold.woff2) format("woff2"), url(../fonts/Roboto/Roboto-Bold.woff) format("woff"), url(../fonts/Roboto/Roboto-Bold.ttf) format("truetype");
}
/*--------------------------------------------------------------
 font-face - Roboto Condensed
--------------------------------------------------------------*/
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Condensed Light"), local("RobotoCondensed-Light"), url(../fonts/Roboto_Condensed/Roboto-Condensed-Light.woff2) format("woff2"), url(../fonts/Roboto_Condensed/Roboto-Condensed-Light.woff) format("woff"), url(../fonts/Roboto_Condensed/Roboto-Condensed-Light.ttf) format("truetype");
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Condensed"), local("RobotoCondensed-Regular"), url(../fonts/Roboto_Condensed/Roboto-Condensed.woff2) format("woff2"), url(../fonts/Roboto_Condensed/Roboto-Condensed.woff) format("woff"), url(../fonts/Roboto_Condensed/Roboto-Condensed.ttf) format("truetype");
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Condensed Bold"), local("RobotoCondensed-Bold"), url(../fonts/Roboto_Condensed/Roboto-Condensed-Bold.ttf) format("woff2"), url(../fonts/Roboto_Condensed/Roboto-Condensed-Bold.woff) format("woff"), url(../fonts/Roboto_Condensed/Roboto-Condensed-Bold.ttf) format("truetype");
}
/*--------------------------------------------------
  HTML
--------------------------------------------------*/
html {
  min-width: 320px;
  color: #424242;
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*--------------------------------------------------
  Reset
--------------------------------------------------*/
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/*--------------------------------------------------
  Outline
--------------------------------------------------*/
*:focus {
  outline: 1px dashed #424242;
}
body:not(.tab-used) *:focus {
  outline: none;
}

/*--------------------------------------------------
  Body
--------------------------------------------------*/
body {
  min-width: inherit;
  color: #424242;
  font-size: 1.6rem;
  font-family: inherit;
}
body ::-webkit-scrollbar {
  width: 2px;
  height: 2px;
  background-color: #F5F5F5;
}
body ::-webkit-scrollbar-thumb {
  background-color: #BDBDBD;
}

/*--------------------------------------------------
  Links
--------------------------------------------------*/
a {
  color: #F44336;
}
a:visited {
  color: rgba(244, 67, 54, 0.5);
}
a:hover, a:active, a:focus {
  color: #D50000;
}

/*--------------------------------------------------
  Typography
--------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: 1.15;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit;
}

em {
  font-style: italic;
}

strong {
  font-weight: bolder;
}

small {
  font-size: 75%;
}

pre {
  font-family: monospace, monospace;
  font-size: 1.4rem;
}

/*--------------------------------------------------
  Main
--------------------------------------------------*/
main {
  display: block;
}

/*--------------------------------------------------
  Table
--------------------------------------------------*/
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*--------------------------------------------------
  Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
--------------------------------------------------*/
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

/*--------------------------------------------------
  Correct the inheritance and scaling of font size in all browsers.
  Correct the odd `em` font sizing in all browsers.
--------------------------------------------------*/
code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/*--------------------------------------------------
  Prevent `sub` and `sup` elements from 
  affecting the line height in all browsers.
--------------------------------------------------*/
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*--------------------------------------------------
  Remove the border on images inside links in IE 10-.
--------------------------------------------------*/
img {
  border-style: none;
}

/*--------------------------------------------------
  Show the overflow in IE.
  Show the overflow in Edge.
--------------------------------------------------*/
button, input {
  overflow: visible;
}

/*--------------------------------------------------
  Remove the inheritance of text transform in Edge, Firefox, and IE.
  Remove the inheritance of text transform in Firefox.
--------------------------------------------------*/
button, select {
  text-transform: none;
}

/*--------------------------------------------------
  Remove the inner border and padding in Firefox.
--------------------------------------------------*/
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/*--------------------------------------------------
  Restore the focus styles unset by the previous rule.
--------------------------------------------------*/
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/*--------------------------------------------------
  Correct the padding in Firefox.
--------------------------------------------------*/
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/*--------------------------------------------------
  Remove the default vertical scrollbar in IE.
--------------------------------------------------*/
textarea {
  overflow: auto;
}

/*--------------------------------------------------
  Correct the cursor style of increment and decrement buttons in Chrome.
--------------------------------------------------*/
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/*--------------------------------------------------
  Correct the odd appearance in Chrome and Safari.
  Correct the outline style in Safari.
--------------------------------------------------*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*--------------------------------------------------
  Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
--------------------------------------------------*/
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*--------------------------------------------------
  Correct the inability to style clickable types in iOS and Safari.  
  Change font properties to `inherit` in Safari.
--------------------------------------------------*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

/*--------------------------------------------------
  Add the correct display in IE 10-.
--------------------------------------------------*/
[hidden] {
  display: none;
}

/*--------------------------------------------------
  clearfix, group, row
--------------------------------------------------*/
.row::after, .group::after, .clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/*--------------------------------------------------
  float-container
--------------------------------------------------*/
.float-container::after {
  content: "";
  display: table;
  clear: both;
}

.float-container.gap10 {
  margin: -5px;
}
.float-container.gap10 > div {
  padding: 5px;
}
.float-container.gap20 {
  margin: -10px;
}
.float-container.gap20 > div {
  padding: 10px;
}
.float-container.gap30 {
  margin: -15px;
}
.float-container.gap30 > div {
  padding: 15px;
}
.float-container.gap40 {
  margin: -20px;
}
.float-container.gap40 > div {
  padding: 20px;
}
.float-container.gap50 {
  margin: -25px;
}
.float-container.gap50 > div {
  padding: 25px;
}
.float-container.gap60 {
  margin: -30px;
}
.float-container.gap60 > div {
  padding: 30px;
}
.float-container.gap70 {
  margin: -35px;
}
.float-container.gap70 > div {
  padding: 35px;
}
.float-container.gap80 {
  margin: -40px;
}
.float-container.gap80 > div {
  padding: 40px;
}
.float-container.gap90 {
  margin: -45px;
}
.float-container.gap90 > div {
  padding: 45px;
}
.float-container.gap100 {
  margin: -50px;
}
.float-container.gap100 > div {
  padding: 50px;
}

@media (min-width: 1021px) {
  .float-container.desktop-gap10 {
    margin: -5px;
  }
  .float-container.desktop-gap10 > div {
    padding: 5px;
  }
  .float-container.desktop-gap20 {
    margin: -10px;
  }
  .float-container.desktop-gap20 > div {
    padding: 10px;
  }
  .float-container.desktop-gap30 {
    margin: -15px;
  }
  .float-container.desktop-gap30 > div {
    padding: 15px;
  }
  .float-container.desktop-gap40 {
    margin: -20px;
  }
  .float-container.desktop-gap40 > div {
    padding: 20px;
  }
  .float-container.desktop-gap50 {
    margin: -25px;
  }
  .float-container.desktop-gap50 > div {
    padding: 25px;
  }
  .float-container.desktop-gap60 {
    margin: -30px;
  }
  .float-container.desktop-gap60 > div {
    padding: 30px;
  }
  .float-container.desktop-gap70 {
    margin: -35px;
  }
  .float-container.desktop-gap70 > div {
    padding: 35px;
  }
  .float-container.desktop-gap80 {
    margin: -40px;
  }
  .float-container.desktop-gap80 > div {
    padding: 40px;
  }
  .float-container.desktop-gap90 {
    margin: -45px;
  }
  .float-container.desktop-gap90 > div {
    padding: 45px;
  }
  .float-container.desktop-gap100 {
    margin: -50px;
  }
  .float-container.desktop-gap100 > div {
    padding: 50px;
  }
}
@media (max-width: 1020px) {
  .float-container.mobile-gap10 {
    margin: -5px;
  }
  .float-container.mobile-gap10 > div {
    padding: 5px;
  }
  .float-container.mobile-gap20 {
    margin: -10px;
  }
  .float-container.mobile-gap20 > div {
    padding: 10px;
  }
  .float-container.mobile-gap30 {
    margin: -15px;
  }
  .float-container.mobile-gap30 > div {
    padding: 15px;
  }
  .float-container.mobile-gap40 {
    margin: -20px;
  }
  .float-container.mobile-gap40 > div {
    padding: 20px;
  }
  .float-container.mobile-gap50 {
    margin: -25px;
  }
  .float-container.mobile-gap50 > div {
    padding: 25px;
  }
  .float-container.mobile-gap60 {
    margin: -30px;
  }
  .float-container.mobile-gap60 > div {
    padding: 30px;
  }
  .float-container.mobile-gap70 {
    margin: -35px;
  }
  .float-container.mobile-gap70 > div {
    padding: 35px;
  }
  .float-container.mobile-gap80 {
    margin: -40px;
  }
  .float-container.mobile-gap80 > div {
    padding: 40px;
  }
  .float-container.mobile-gap90 {
    margin: -45px;
  }
  .float-container.mobile-gap90 > div {
    padding: 45px;
  }
  .float-container.mobile-gap100 {
    margin: -50px;
  }
  .float-container.mobile-gap100 > div {
    padding: 50px;
  }
}
/*--------------------------------------------------
  float-containerl - Column
--------------------------------------------------*/
.float-container .float-content {
  float: left;
  width: 100%;
}

.float-container .float-content.xs1 {
  max-width: 8.33333%;
}

.float-container .float-content.xs2 {
  max-width: 16.66666%;
}

.float-container .float-content.xs3 {
  max-width: 24.99999%;
}

.float-container .float-content.xs4 {
  max-width: 33.33333%;
}

.float-container .float-content.xs5 {
  max-width: 41.66666%;
}

.float-container .float-content.xs6 {
  max-width: 49.99999%;
}

.float-container .float-content.xs7 {
  max-width: 58.33333%;
}

.float-container .float-content.xs8 {
  max-width: 66.66666%;
}

.float-container .float-content.xs9 {
  max-width: 74.99999%;
}

.float-container .float-content.xs10 {
  max-width: 83.33333%;
}

.float-container .float-content.xs11 {
  max-width: 91.66666%;
}

.float-container .float-content.xs12 {
  max-width: 99.99999%;
}

@media (min-width: 721px) {
  .float-container .float-content.s1 {
    max-width: 8.33333%;
  }

  .float-container .float-content.s2 {
    max-width: 16.66666%;
  }

  .float-container .float-content.s3 {
    max-width: 24.99999%;
  }

  .float-container .float-content.s4 {
    max-width: 33.33333%;
  }

  .float-container .float-content.s5 {
    max-width: 41.66666%;
  }

  .float-container .float-content.s6 {
    max-width: 49.99999%;
  }

  .float-container .float-content.s7 {
    max-width: 58.33333%;
  }

  .float-container .float-content.s8 {
    max-width: 66.66666%;
  }

  .float-container .float-content.s9 {
    max-width: 74.99999%;
  }

  .float-container .float-content.s10 {
    max-width: 83.33333%;
  }

  .float-container .float-content.s11 {
    max-width: 91.66666%;
  }

  .float-container .float-content.s12 {
    max-width: 99.99999%;
  }
}
@media (min-width: 1021px) {
  .float-container .float-content.m1 {
    max-width: 8.33333%;
  }

  .float-container .float-content.m2 {
    max-width: 16.66666%;
  }

  .float-container .float-content.m3 {
    max-width: 24.99999%;
  }

  .float-container .float-content.m4 {
    max-width: 33.33333%;
  }

  .float-container .float-content.m5 {
    max-width: 41.66666%;
  }

  .float-container .float-content.m6 {
    max-width: 49.99999%;
  }

  .float-container .float-content.m7 {
    max-width: 58.33333%;
  }

  .float-container .float-content.m8 {
    max-width: 66.66666%;
  }

  .float-container .float-content.m9 {
    max-width: 74.99999%;
  }

  .float-container .float-content.m10 {
    max-width: 83.33333%;
  }

  .float-container .float-content.m11 {
    max-width: 91.66666%;
  }

  .float-container .float-content.m12 {
    max-width: 99.99999%;
  }
}
@media (min-width: 1201px) {
  .float-container .float-content.l1 {
    max-width: 8.33333%;
  }

  .float-container .float-content.l2 {
    max-width: 16.66666%;
  }

  .float-container .float-content.l3 {
    max-width: 24.99999%;
  }

  .float-container .float-content.l4 {
    max-width: 33.33333%;
  }

  .float-container .float-content.l5 {
    max-width: 41.66666%;
  }

  .float-container .float-content.l6 {
    max-width: 49.99999%;
  }

  .float-container .float-content.l7 {
    max-width: 58.33333%;
  }

  .float-container .float-content.l8 {
    max-width: 66.66666%;
  }

  .float-container .float-content.l9 {
    max-width: 74.99999%;
  }

  .float-container .float-content.l10 {
    max-width: 83.33333%;
  }

  .float-container .float-content.l11 {
    max-width: 91.66666%;
  }

  .float-container .float-content.l12 {
    max-width: 99.99999%;
  }
}
/*--------------------------------------------------
  flex-container
--------------------------------------------------*/
.flex-container {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
.nowrap.flex-container {
  flex-wrap: nowrap;
}
.column.flex-container {
  flex-direction: column;
}
.column-reverse.flex-container {
  flex-direction: column-reverse;
}
.row-reverse.flex-container {
  flex-direction: row-reverse;
}
.align-start.flex-container {
  align-items: flex-start;
}
.align-center.flex-container {
  align-items: center;
}
.align-end.flex-container {
  align-items: flex-end;
}
.justify-start.flex-container {
  justify-content: flex-start;
}
.justify-center.flex-container {
  justify-content: center;
}
.justify-end.flex-container {
  justify-content: flex-end;
}
.justify-spacearound.flex-container {
  justify-content: space-around;
}
.justify-spacebetween.flex-container {
  justify-content: space-between;
}
.justify-spaceevenly.flex-container {
  justify-content: space-evenly;
}

.flex-container.gap10 {
  margin: -5px;
}
.flex-container.gap10 > div {
  padding: 5px;
}
.flex-container.gap20 {
  margin: -10px;
}
.flex-container.gap20 > div {
  padding: 10px;
}
.flex-container.gap30 {
  margin: -15px;
}
.flex-container.gap30 > div {
  padding: 15px;
}
.flex-container.gap40 {
  margin: -20px;
}
.flex-container.gap40 > div {
  padding: 20px;
}
.flex-container.gap50 {
  margin: -25px;
}
.flex-container.gap50 > div {
  padding: 25px;
}
.flex-container.gap60 {
  margin: -30px;
}
.flex-container.gap60 > div {
  padding: 30px;
}
.flex-container.gap70 {
  margin: -35px;
}
.flex-container.gap70 > div {
  padding: 35px;
}
.flex-container.gap80 {
  margin: -40px;
}
.flex-container.gap80 > div {
  padding: 40px;
}
.flex-container.gap90 {
  margin: -45px;
}
.flex-container.gap90 > div {
  padding: 45px;
}
.flex-container.gap100 {
  margin: -50px;
}
.flex-container.gap100 > div {
  padding: 50px;
}
.flex-container.grow > div {
  flex-grow: 1;
}
.flex-container.no-grow > div {
  flex-grow: 0;
}
.flex-container.shrink > div {
  flex-shrink: 1;
}
.flex-container.no-shrink > div {
  flex-shrink: 0;
}

@media (min-width: 1021px) {
  .flex-container.desktop-gap10 {
    margin: -5px;
  }
  .flex-container.desktop-gap10 > div {
    padding: 5px;
  }
  .flex-container.desktop-gap20 {
    margin: -10px;
  }
  .flex-container.desktop-gap20 > div {
    padding: 10px;
  }
  .flex-container.desktop-gap30 {
    margin: -15px;
  }
  .flex-container.desktop-gap30 > div {
    padding: 15px;
  }
  .flex-container.desktop-gap40 {
    margin: -20px;
  }
  .flex-container.desktop-gap40 > div {
    padding: 20px;
  }
  .flex-container.desktop-gap50 {
    margin: -25px;
  }
  .flex-container.desktop-gap50 > div {
    padding: 25px;
  }
  .flex-container.desktop-gap60 {
    margin: -30px;
  }
  .flex-container.desktop-gap60 > div {
    padding: 30px;
  }
  .flex-container.desktop-gap70 {
    margin: -35px;
  }
  .flex-container.desktop-gap70 > div {
    padding: 35px;
  }
  .flex-container.desktop-gap80 {
    margin: -40px;
  }
  .flex-container.desktop-gap80 > div {
    padding: 40px;
  }
  .flex-container.desktop-gap90 {
    margin: -45px;
  }
  .flex-container.desktop-gap90 > div {
    padding: 45px;
  }
  .flex-container.desktop-gap100 {
    margin: -50px;
  }
  .flex-container.desktop-gap100 > div {
    padding: 50px;
  }
  .flex-container.desktop-grow > div {
    flex-grow: 1;
  }
  .flex-container.desktop-no-grow > div {
    flex-grow: 0;
  }
  .flex-container.desktop-shrink > div {
    flex-shrink: 1;
  }
  .flex-container.desktop-no-shrink > div {
    flex-shrink: 0;
  }
}
@media (max-width: 1020px) {
  .flex-container.mobile-gap10 {
    margin: -5px;
  }
  .flex-container.mobile-gap10 > div {
    padding: 5px;
  }
  .flex-container.mobile-gap20 {
    margin: -10px;
  }
  .flex-container.mobile-gap20 > div {
    padding: 10px;
  }
  .flex-container.mobile-gap30 {
    margin: -15px;
  }
  .flex-container.mobile-gap30 > div {
    padding: 15px;
  }
  .flex-container.mobile-gap40 {
    margin: -20px;
  }
  .flex-container.mobile-gap40 > div {
    padding: 20px;
  }
  .flex-container.mobile-gap50 {
    margin: -25px;
  }
  .flex-container.mobile-gap50 > div {
    padding: 25px;
  }
  .flex-container.mobile-gap60 {
    margin: -30px;
  }
  .flex-container.mobile-gap60 > div {
    padding: 30px;
  }
  .flex-container.mobile-gap70 {
    margin: -35px;
  }
  .flex-container.mobile-gap70 > div {
    padding: 35px;
  }
  .flex-container.mobile-gap80 {
    margin: -40px;
  }
  .flex-container.mobile-gap80 > div {
    padding: 40px;
  }
  .flex-container.mobile-gap90 {
    margin: -45px;
  }
  .flex-container.mobile-gap90 > div {
    padding: 45px;
  }
  .flex-container.mobile-gap100 {
    margin: -50px;
  }
  .flex-container.mobile-gap100 > div {
    padding: 50px;
  }
  .flex-container.mobile-grow > div {
    flex-grow: 1;
  }
  .flex-container.mobile-no-grow > div {
    flex-grow: 0;
  }
  .flex-container.mobile-shrink > div {
    flex-shrink: 1;
  }
  .flex-container.mobile-no-shrink > div {
    flex-shrink: 0;
  }
}
/*--------------------------------------------------
  flex-container - Column
--------------------------------------------------*/
.flex-container .flex-content {
  width: 100%;
}

.flex-container .flex-content.xs1 {
  max-width: 8.33333%;
}

.flex-container .flex-content.xs2 {
  max-width: 16.66666%;
}

.flex-container .flex-content.xs3 {
  max-width: 24.99999%;
}

.flex-container .flex-content.xs4 {
  max-width: 33.33333%;
}

.flex-container .flex-content.xs5 {
  max-width: 41.66666%;
}

.flex-container .flex-content.xs6 {
  max-width: 49.99999%;
}

.flex-container .flex-content.xs7 {
  max-width: 58.33333%;
}

.flex-container .flex-content.xs8 {
  max-width: 66.66666%;
}

.flex-container .flex-content.xs9 {
  max-width: 74.99999%;
}

.flex-container .flex-content.xs10 {
  max-width: 83.33333%;
}

.flex-container .flex-content.xs11 {
  max-width: 91.66666%;
}

.flex-container .flex-content.xs12 {
  max-width: 99.99999%;
}

@media (min-width: 721px) {
  .flex-container .flex-content.s1 {
    max-width: 8.33333%;
  }

  .flex-container .flex-content.s2 {
    max-width: 16.66666%;
  }

  .flex-container .flex-content.s3 {
    max-width: 24.99999%;
  }

  .flex-container .flex-content.s4 {
    max-width: 33.33333%;
  }

  .flex-container .flex-content.s5 {
    max-width: 41.66666%;
  }

  .flex-container .flex-content.s6 {
    max-width: 49.99999%;
  }

  .flex-container .flex-content.s7 {
    max-width: 58.33333%;
  }

  .flex-container .flex-content.s8 {
    max-width: 66.66666%;
  }

  .flex-container .flex-content.s9 {
    max-width: 74.99999%;
  }

  .flex-container .flex-content.s10 {
    max-width: 83.33333%;
  }

  .flex-container .flex-content.s11 {
    max-width: 91.66666%;
  }

  .flex-container .flex-content.s12 {
    max-width: 99.99999%;
  }
}
@media (min-width: 1021px) {
  .flex-container .flex-content.m1 {
    max-width: 8.33333%;
  }

  .flex-container .flex-content.m2 {
    max-width: 16.66666%;
  }

  .flex-container .flex-content.m3 {
    max-width: 24.99999%;
  }

  .flex-container .flex-content.m4 {
    max-width: 33.33333%;
  }

  .flex-container .flex-content.m5 {
    max-width: 41.66666%;
  }

  .flex-container .flex-content.m6 {
    max-width: 49.99999%;
  }

  .flex-container .flex-content.m7 {
    max-width: 58.33333%;
  }

  .flex-container .flex-content.m8 {
    max-width: 66.66666%;
  }

  .flex-container .flex-content.m9 {
    max-width: 74.99999%;
  }

  .flex-container .flex-content.m10 {
    max-width: 83.33333%;
  }

  .flex-container .flex-content.m11 {
    max-width: 91.66666%;
  }

  .flex-container .flex-content.m12 {
    max-width: 99.99999%;
  }
}
@media (min-width: 1201px) {
  .flex-container .flex-content.l1 {
    max-width: 8.33333%;
  }

  .flex-container .flex-content.l2 {
    max-width: 16.66666%;
  }

  .flex-container .flex-content.l3 {
    max-width: 24.99999%;
  }

  .flex-container .flex-content.l4 {
    max-width: 33.33333%;
  }

  .flex-container .flex-content.l5 {
    max-width: 41.66666%;
  }

  .flex-container .flex-content.l6 {
    max-width: 49.99999%;
  }

  .flex-container .flex-content.l7 {
    max-width: 58.33333%;
  }

  .flex-container .flex-content.l8 {
    max-width: 66.66666%;
  }

  .flex-container .flex-content.l9 {
    max-width: 74.99999%;
  }

  .flex-container .flex-content.l10 {
    max-width: 83.33333%;
  }

  .flex-container .flex-content.l11 {
    max-width: 91.66666%;
  }

  .flex-container .flex-content.l12 {
    max-width: 99.99999%;
  }
}
/*--------------------------------------------------
  Color
--------------------------------------------------*/
.color-primary {
  color: #F44336;
}

.color-accent {
  color: #B71C1C;
}

.color-red-50 {
  color: #FFEBEE;
}

.color-red-100 {
  color: #FFCDD2;
}

.color-red-200 {
  color: #EF9A9A;
}

.color-red-300 {
  color: #E57373;
}

.color-red-400 {
  color: #EF5350;
}

.color-red-500 {
  color: #F44336;
}

.color-red-600 {
  color: #E53935;
}

.color-red-700 {
  color: #D32F2F;
}

.color-red-800 {
  color: #C62828;
}

.color-red-900 {
  color: #B71C1C;
}

.color-red-A100 {
  color: #FF8A80;
}

.color-red-A200 {
  color: #FF5252;
}

.color-red-A400 {
  color: #FF1744;
}

.color-red-A700 {
  color: #D50000;
}

.color-pink-50 {
  color: #FCE4EC;
}

.color-pink-100 {
  color: #F8BBD0;
}

.color-pink-200 {
  color: #F48FB1;
}

.color-pink-300 {
  color: #F06292;
}

.color-pink-400 {
  color: #EC407A;
}

.color-pink-500 {
  color: #E91E63;
}

.color-pink-600 {
  color: #D81B60;
}

.color-pink-700 {
  color: #C2185B;
}

.color-pink-800 {
  color: #AD1457;
}

.color-pink-900 {
  color: #880E4F;
}

.color-pink-A100 {
  color: #FF80AB;
}

.color-pink-A200 {
  color: #FF4081;
}

.color-pink-A400 {
  color: #F50057;
}

.color-pink-A700 {
  color: #C51162;
}

.color-purple-50 {
  color: #F3E5F5;
}

.color-purple-100 {
  color: #E1BEE7;
}

.color-purple-200 {
  color: #CE93D8;
}

.color-purple-300 {
  color: #BA68C8;
}

.color-purple-400 {
  color: #AB47BC;
}

.color-purple-500 {
  color: #9C27B0;
}

.color-purple-600 {
  color: #8E24AA;
}

.color-purple-700 {
  color: #7B1FA2;
}

.color-purple-800 {
  color: #6A1B9A;
}

.color-purple-900 {
  color: #4A148C;
}

.color-purple-A100 {
  color: #EA80FC;
}

.color-purple-A200 {
  color: #E040FB;
}

.color-purple-A400 {
  color: #D500F9;
}

.color-purple-A700 {
  color: #AA00FF;
}

.color-deep-purple-50 {
  color: #EDE7F6;
}

.color-deep-purple-100 {
  color: #D1C4E9;
}

.color-deep-purple-200 {
  color: #B39DDB;
}

.color-deep-purple-300 {
  color: #9575CD;
}

.color-deep-purple-400 {
  color: #7E57C2;
}

.color-deep-purple-500 {
  color: #673AB7;
}

.color-deep-purple-600 {
  color: #5E35B1;
}

.color-deep-purple-700 {
  color: #512DA8;
}

.color-deep-purple-800 {
  color: #4527A0;
}

.color-deep-purple-900 {
  color: #311B92;
}

.color-deep-purple-A100 {
  color: #B388FF;
}

.color-deep-purple-A200 {
  color: #7C4DFF;
}

.color-deep-purple-A400 {
  color: #651FFF;
}

.color-deep-purple-A700 {
  color: #6200EA;
}

.color-indigo-50 {
  color: #E8EAF6;
}

.color-indigo-100 {
  color: #C5CAE9;
}

.color-indigo-200 {
  color: #9FA8DA;
}

.color-indigo-300 {
  color: #7986CB;
}

.color-indigo-400 {
  color: #5C6BC0;
}

.color-indigo-500 {
  color: #3F51B5;
}

.color-indigo-600 {
  color: #3949AB;
}

.color-indigo-700 {
  color: #303F9F;
}

.color-indigo-800 {
  color: #283593;
}

.color-indigo-900 {
  color: #1A237E;
}

.color-indigo-A100 {
  color: #8C9EFF;
}

.color-indigo-A200 {
  color: #536DFE;
}

.color-indigo-A400 {
  color: #3D5AFE;
}

.color-indigo-A700 {
  color: #304FFE;
}

.color-blue-50 {
  color: #E3F2FD;
}

.color-blue-100 {
  color: #BBDEFB;
}

.color-blue-200 {
  color: #90CAF9;
}

.color-blue-300 {
  color: #64B5F6;
}

.color-blue-400 {
  color: #42A5F5;
}

.color-blue-500 {
  color: #2196F3;
}

.color-blue-600 {
  color: #1E88E5;
}

.color-blue-700 {
  color: #1976D2;
}

.color-blue-800 {
  color: #1565C0;
}

.color-blue-900 {
  color: #0D47A1;
}

.color-blue-A100 {
  color: #82B1FF;
}

.color-blue-A200 {
  color: #448AFF;
}

.color-blue-A400 {
  color: #2979FF;
}

.color-blue-A700 {
  color: #2962FF;
}

.color-light-blue-50 {
  color: #E1F5FE;
}

.color-light-blue-100 {
  color: #B3E5FC;
}

.color-light-blue-200 {
  color: #81D4FA;
}

.color-light-blue-300 {
  color: #4FC3F7;
}

.color-light-blue-400 {
  color: #29B6F6;
}

.color-light-blue-500 {
  color: #03A9F4;
}

.color-light-blue-600 {
  color: #039BE5;
}

.color-light-blue-700 {
  color: #0288D1;
}

.color-light-blue-800 {
  color: #0277BD;
}

.color-light-blue-900 {
  color: #01579B;
}

.color-light-blue-A100 {
  color: #80D8FF;
}

.color-light-blue-A200 {
  color: #40C4FF;
}

.color-light-blue-A400 {
  color: #00B0FF;
}

.color-light-blue-A700 {
  color: #0091EA;
}

.color-cyan-50 {
  color: #E0F7FA;
}

.color-cyan-100 {
  color: #B2EBF2;
}

.color-cyan-200 {
  color: #80DEEA;
}

.color-cyan-300 {
  color: #80DEEA;
}

.color-cyan-400 {
  color: #26C6DA;
}

.color-cyan-500 {
  color: #00BCD4;
}

.color-cyan-600 {
  color: #00ACC1;
}

.color-cyan-700 {
  color: #0097A7;
}

.color-cyan-800 {
  color: #00838F;
}

.color-cyan-900 {
  color: #006064;
}

.color-cyan-A100 {
  color: #84FFFF;
}

.color-cyan-A200 {
  color: #18FFFF;
}

.color-cyan-A400 {
  color: #00E5FF;
}

.color-cyan-A700 {
  color: #00B8D4;
}

.color-teal-50 {
  color: #E0F2F1;
}

.color-teal-100 {
  color: #B2DFDB;
}

.color-teal-200 {
  color: #80CBC4;
}

.color-teal-300 {
  color: #4DB6AC;
}

.color-teal-400 {
  color: #26A69A;
}

.color-teal-500 {
  color: #009688;
}

.color-teal-600 {
  color: #00897B;
}

.color-teal-700 {
  color: #00796B;
}

.color-teal-800 {
  color: #00695C;
}

.color-teal-900 {
  color: #004D40;
}

.color-teal-A100 {
  color: #A7FFEB;
}

.color-teal-A200 {
  color: #64FFDA;
}

.color-teal-A400 {
  color: #1DE9B6;
}

.color-teal-A700 {
  color: #00BFA5;
}

.color-green-50 {
  color: #E8F5E9;
}

.color-green-100 {
  color: #C8E6C9;
}

.color-green-200 {
  color: #A5D6A7;
}

.color-green-300 {
  color: #81C784;
}

.color-green-400 {
  color: #66BB6A;
}

.color-green-500 {
  color: #4CAF50;
}

.color-green-600 {
  color: #43A047;
}

.color-green-700 {
  color: #388E3C;
}

.color-green-800 {
  color: #2E7D32;
}

.color-green-900 {
  color: #1B5E20;
}

.color-green-A100 {
  color: #B9F6CA;
}

.color-green-A200 {
  color: #69F0AE;
}

.color-green-A400 {
  color: #00E676;
}

.color-green-A700 {
  color: #00C853;
}

.color-lime-50 {
  color: #F9FBE7;
}

.color-lime-100 {
  color: #F0F4C3;
}

.color-lime-200 {
  color: #E6EE9C;
}

.color-lime-300 {
  color: #DCE775;
}

.color-lime-400 {
  color: #D4E157;
}

.color-lime-500 {
  color: #CDDC39;
}

.color-lime-600 {
  color: #C0CA33;
}

.color-lime-700 {
  color: #AFB42B;
}

.color-lime-800 {
  color: #9E9D24;
}

.color-lime-900 {
  color: #827717;
}

.color-lime-A100 {
  color: #F4FF81;
}

.color-lime-A200 {
  color: #EEFF41;
}

.color-lime-A400 {
  color: #C6FF00;
}

.color-lime-A700 {
  color: #AEEA00;
}

.color-yellow-50 {
  color: #FFFDE7;
}

.color-yellow-100 {
  color: #FFF9C4;
}

.color-yellow-200 {
  color: #FFF59D;
}

.color-yellow-300 {
  color: #FFF176;
}

.color-yellow-400 {
  color: #FFEE58;
}

.color-yellow-500 {
  color: #FFEB3B;
}

.color-yellow-600 {
  color: #FDD835;
}

.color-yellow-700 {
  color: #FBC02D;
}

.color-yellow-800 {
  color: #F9A825;
}

.color-yellow-900 {
  color: #F57F17;
}

.color-yellow-A100 {
  color: #FFFF8D;
}

.color-yellow-A200 {
  color: #FFFF00;
}

.color-yellow-A400 {
  color: #FFEA00;
}

.color-yellow-A700 {
  color: #FFD600;
}

.color-amber-50 {
  color: #FFF8E1;
}

.color-amber-100 {
  color: #FFECB3;
}

.color-amber-200 {
  color: #FFE082;
}

.color-amber-300 {
  color: #FFD54F;
}

.color-amber-400 {
  color: #FFCA28;
}

.color-amber-500 {
  color: #FFC107;
}

.color-amber-600 {
  color: #FFB300;
}

.color-amber-700 {
  color: #FFA000;
}

.color-amber-800 {
  color: #FF8F00;
}

.color-amber-900 {
  color: #FF6F00;
}

.color-amber-A100 {
  color: #FFE57F;
}

.color-amber-A200 {
  color: #FFD740;
}

.color-amber-A400 {
  color: #FFC400;
}

.color-amber-A700 {
  color: #FFAB00;
}

.color-orange-50 {
  color: #FFF3E0;
}

.color-orange-100 {
  color: #FFE0B2;
}

.color-orange-200 {
  color: #FFCC80;
}

.color-orange-300 {
  color: #FFB74D;
}

.color-orange-400 {
  color: #FFA726;
}

.color-orange-500 {
  color: #FF9800;
}

.color-orange-600 {
  color: #FB8C00;
}

.color-orange-700 {
  color: #F57C00;
}

.color-orange-800 {
  color: #EF6C00;
}

.color-orange-900 {
  color: #E65100;
}

.color-orange-A100 {
  color: #FFD180;
}

.color-orange-A200 {
  color: #FFAB40;
}

.color-orange-A400 {
  color: #FF9100;
}

.color-orange-A700 {
  color: #FF6D00;
}

.color-deep-orange-50 {
  color: #FBE9E7;
}

.color-deep-orange-100 {
  color: #FFCCBC;
}

.color-deep-orange-200 {
  color: #FFAB91;
}

.color-deep-orange-300 {
  color: #FF8A65;
}

.color-deep-orange-400 {
  color: #FF7043;
}

.color-deep-orange-500 {
  color: #FF5722;
}

.color-deep-orange-600 {
  color: #F4511E;
}

.color-deep-orange-700 {
  color: #E64A19;
}

.color-deep-orange-800 {
  color: #D84315;
}

.color-deep-orange-900 {
  color: #BF360C;
}

.color-deep-orange-A100 {
  color: #FF9E80;
}

.color-deep-orange-A200 {
  color: #FF6E40;
}

.color-deep-orange-A400 {
  color: #FF3D00;
}

.color-deep-orange-A700 {
  color: #DD2C00;
}

.color-brown-50 {
  color: #EFEBE9;
}

.color-brown-100 {
  color: #D7CCC8;
}

.color-brown-200 {
  color: #BCAAA4;
}

.color-brown-300 {
  color: #A1887F;
}

.color-brown-400 {
  color: #8D6E63;
}

.color-brown-500 {
  color: #795548;
}

.color-brown-600 {
  color: #6D4C41;
}

.color-brown-700 {
  color: #5D4037;
}

.color-brown-800 {
  color: #4E342E;
}

.color-brown-900 {
  color: #3E2723;
}

.color-grey-50 {
  color: #FAFAFA;
}

.color-grey-100 {
  color: #F5F5F5;
}

.color-grey-200 {
  color: #EEEEEE;
}

.color-grey-300 {
  color: #E0E0E0;
}

.color-grey-400 {
  color: #BDBDBD;
}

.color-grey-500 {
  color: #9E9E9E;
}

.color-grey-600 {
  color: #757575;
}

.color-grey-700 {
  color: #616161;
}

.color-grey-800 {
  color: #424242;
}

.color-grey-900 {
  color: #212121;
}

.color-blue-grey-50 {
  color: #ECEFF1;
}

.color-blue-grey-100 {
  color: #CFD8DC;
}

.color-blue-grey-200 {
  color: #B0BEC5;
}

.color-blue-grey-300 {
  color: #90A4AE;
}

.color-blue-grey-400 {
  color: #78909C;
}

.color-blue-grey-500 {
  color: #607D8B;
}

.color-blue-grey-600 {
  color: #546E7A;
}

.color-blue-grey-700 {
  color: #455A64;
}

.color-blue-grey-800 {
  color: #37474F;
}

.color-blue-grey-900 {
  color: #263238;
}

.color-white {
  color: #FFF;
}

.color-black {
  color: #000;
}

/*--------------------------------------------------
  Background
--------------------------------------------------*/
.background-primary {
  background-color: #F44336;
}

.background-accent {
  background-color: #B71C1C;
}

.background-red-50 {
  background-color: #FFEBEE;
}

.background-red-100 {
  background-color: #FFCDD2;
}

.background-red-200 {
  background-color: #EF9A9A;
}

.background-red-300 {
  background-color: #E57373;
}

.background-red-400 {
  background-color: #EF5350;
}

.background-red-500 {
  background-color: #F44336;
}

.background-red-600 {
  background-color: #E53935;
}

.background-red-700 {
  background-color: #D32F2F;
}

.background-red-800 {
  background-color: #C62828;
}

.background-red-900 {
  background-color: #B71C1C;
}

.background-red-A100 {
  background-color: #FF8A80;
}

.background-red-A200 {
  background-color: #FF5252;
}

.background-red-A400 {
  background-color: #FF1744;
}

.background-red-A700 {
  background-color: #D50000;
}

.background-pink-50 {
  background-color: #FCE4EC;
}

.background-pink-100 {
  background-color: #F8BBD0;
}

.background-pink-200 {
  background-color: #F48FB1;
}

.background-pink-300 {
  background-color: #F06292;
}

.background-pink-400 {
  background-color: #EC407A;
}

.background-pink-500 {
  background-color: #E91E63;
}

.background-pink-600 {
  background-color: #D81B60;
}

.background-pink-700 {
  background-color: #C2185B;
}

.background-pink-800 {
  background-color: #AD1457;
}

.background-pink-900 {
  background-color: #880E4F;
}

.background-pink-A100 {
  background-color: #FF80AB;
}

.background-pink-A200 {
  background-color: #FF4081;
}

.background-pink-A400 {
  background-color: #F50057;
}

.background-pink-A700 {
  background-color: #C51162;
}

.background-purple-50 {
  background-color: #F3E5F5;
}

.background-purple-100 {
  background-color: #E1BEE7;
}

.background-purple-200 {
  background-color: #CE93D8;
}

.background-purple-300 {
  background-color: #BA68C8;
}

.background-purple-400 {
  background-color: #AB47BC;
}

.background-purple-500 {
  background-color: #9C27B0;
}

.background-purple-600 {
  background-color: #8E24AA;
}

.background-purple-700 {
  background-color: #7B1FA2;
}

.background-purple-800 {
  background-color: #6A1B9A;
}

.background-purple-900 {
  background-color: #4A148C;
}

.background-purple-A100 {
  background-color: #EA80FC;
}

.background-purple-A200 {
  background-color: #E040FB;
}

.background-purple-A400 {
  background-color: #D500F9;
}

.background-purple-A700 {
  background-color: #AA00FF;
}

.background-deep-purple-50 {
  background-color: #EDE7F6;
}

.background-deep-purple-100 {
  background-color: #D1C4E9;
}

.background-deep-purple-200 {
  background-color: #B39DDB;
}

.background-deep-purple-300 {
  background-color: #9575CD;
}

.background-deep-purple-400 {
  background-color: #7E57C2;
}

.background-deep-purple-500 {
  background-color: #673AB7;
}

.background-deep-purple-600 {
  background-color: #5E35B1;
}

.background-deep-purple-700 {
  background-color: #512DA8;
}

.background-deep-purple-800 {
  background-color: #4527A0;
}

.background-deep-purple-900 {
  background-color: #311B92;
}

.background-deep-purple-A100 {
  background-color: #B388FF;
}

.background-deep-purple-A200 {
  background-color: #7C4DFF;
}

.background-deep-purple-A400 {
  background-color: #651FFF;
}

.background-deep-purple-A700 {
  background-color: #6200EA;
}

.background-indigo-50 {
  background-color: #E8EAF6;
}

.background-indigo-100 {
  background-color: #C5CAE9;
}

.background-indigo-200 {
  background-color: #9FA8DA;
}

.background-indigo-300 {
  background-color: #7986CB;
}

.background-indigo-400 {
  background-color: #5C6BC0;
}

.background-indigo-500 {
  background-color: #3F51B5;
}

.background-indigo-600 {
  background-color: #3949AB;
}

.background-indigo-700 {
  background-color: #303F9F;
}

.background-indigo-800 {
  background-color: #283593;
}

.background-indigo-900 {
  background-color: #1A237E;
}

.background-indigo-A100 {
  background-color: #8C9EFF;
}

.background-indigo-A200 {
  background-color: #536DFE;
}

.background-indigo-A400 {
  background-color: #3D5AFE;
}

.background-indigo-A700 {
  background-color: #304FFE;
}

.background-blue-50 {
  background-color: #E3F2FD;
}

.background-blue-100 {
  background-color: #BBDEFB;
}

.background-blue-200 {
  background-color: #90CAF9;
}

.background-blue-300 {
  background-color: #64B5F6;
}

.background-blue-400 {
  background-color: #42A5F5;
}

.background-blue-500 {
  background-color: #2196F3;
}

.background-blue-600 {
  background-color: #1E88E5;
}

.background-blue-700 {
  background-color: #1976D2;
}

.background-blue-800 {
  background-color: #1565C0;
}

.background-blue-900 {
  background-color: #0D47A1;
}

.background-blue-A100 {
  background-color: #82B1FF;
}

.background-blue-A200 {
  background-color: #448AFF;
}

.background-blue-A400 {
  background-color: #2979FF;
}

.background-blue-A700 {
  background-color: #2962FF;
}

.background-light-blue-50 {
  background-color: #E1F5FE;
}

.background-light-blue-100 {
  background-color: #B3E5FC;
}

.background-light-blue-200 {
  background-color: #81D4FA;
}

.background-light-blue-300 {
  background-color: #4FC3F7;
}

.background-light-blue-400 {
  background-color: #29B6F6;
}

.background-light-blue-500 {
  background-color: #03A9F4;
}

.background-light-blue-600 {
  background-color: #039BE5;
}

.background-light-blue-700 {
  background-color: #0288D1;
}

.background-light-blue-800 {
  background-color: #0277BD;
}

.background-light-blue-900 {
  background-color: #01579B;
}

.background-light-blue-A100 {
  background-color: #80D8FF;
}

.background-light-blue-A200 {
  background-color: #40C4FF;
}

.background-light-blue-A400 {
  background-color: #00B0FF;
}

.background-light-blue-A700 {
  background-color: #0091EA;
}

.background-cyan-50 {
  background-color: #E0F7FA;
}

.background-cyan-100 {
  background-color: #B2EBF2;
}

.background-cyan-200 {
  background-color: #80DEEA;
}

.background-cyan-300 {
  background-color: #80DEEA;
}

.background-cyan-400 {
  background-color: #26C6DA;
}

.background-cyan-500 {
  background-color: #00BCD4;
}

.background-cyan-600 {
  background-color: #00ACC1;
}

.background-cyan-700 {
  background-color: #0097A7;
}

.background-cyan-800 {
  background-color: #00838F;
}

.background-cyan-900 {
  background-color: #006064;
}

.background-cyan-A100 {
  background-color: #84FFFF;
}

.background-cyan-A200 {
  background-color: #18FFFF;
}

.background-cyan-A400 {
  background-color: #00E5FF;
}

.background-cyan-A700 {
  background-color: #00B8D4;
}

.background-teal-50 {
  background-color: #E0F2F1;
}

.background-teal-100 {
  background-color: #B2DFDB;
}

.background-teal-200 {
  background-color: #80CBC4;
}

.background-teal-300 {
  background-color: #4DB6AC;
}

.background-teal-400 {
  background-color: #26A69A;
}

.background-teal-500 {
  background-color: #009688;
}

.background-teal-600 {
  background-color: #00897B;
}

.background-teal-700 {
  background-color: #00796B;
}

.background-teal-800 {
  background-color: #00695C;
}

.background-teal-900 {
  background-color: #004D40;
}

.background-teal-A100 {
  background-color: #A7FFEB;
}

.background-teal-A200 {
  background-color: #64FFDA;
}

.background-teal-A400 {
  background-color: #1DE9B6;
}

.background-teal-A700 {
  background-color: #00BFA5;
}

.background-green-50 {
  background-color: #E8F5E9;
}

.background-green-100 {
  background-color: #C8E6C9;
}

.background-green-200 {
  background-color: #A5D6A7;
}

.background-green-300 {
  background-color: #81C784;
}

.background-green-400 {
  background-color: #66BB6A;
}

.background-green-500 {
  background-color: #4CAF50;
}

.background-green-600 {
  background-color: #43A047;
}

.background-green-700 {
  background-color: #388E3C;
}

.background-green-800 {
  background-color: #2E7D32;
}

.background-green-900 {
  background-color: #1B5E20;
}

.background-green-A100 {
  background-color: #B9F6CA;
}

.background-green-A200 {
  background-color: #69F0AE;
}

.background-green-A400 {
  background-color: #00E676;
}

.background-green-A700 {
  background-color: #00C853;
}

.background-lime-50 {
  background-color: #F9FBE7;
}

.background-lime-100 {
  background-color: #F0F4C3;
}

.background-lime-200 {
  background-color: #E6EE9C;
}

.background-lime-300 {
  background-color: #DCE775;
}

.background-lime-400 {
  background-color: #D4E157;
}

.background-lime-500 {
  background-color: #CDDC39;
}

.background-lime-600 {
  background-color: #C0CA33;
}

.background-lime-700 {
  background-color: #AFB42B;
}

.background-lime-800 {
  background-color: #9E9D24;
}

.background-lime-900 {
  background-color: #827717;
}

.background-lime-A100 {
  background-color: #F4FF81;
}

.background-lime-A200 {
  background-color: #EEFF41;
}

.background-lime-A400 {
  background-color: #C6FF00;
}

.background-lime-A700 {
  background-color: #AEEA00;
}

.background-yellow-50 {
  background-color: #FFFDE7;
}

.background-yellow-100 {
  background-color: #FFF9C4;
}

.background-yellow-200 {
  background-color: #FFF59D;
}

.background-yellow-300 {
  background-color: #FFF176;
}

.background-yellow-400 {
  background-color: #FFEE58;
}

.background-yellow-500 {
  background-color: #FFEB3B;
}

.background-yellow-600 {
  background-color: #FDD835;
}

.background-yellow-700 {
  background-color: #FBC02D;
}

.background-yellow-800 {
  background-color: #F9A825;
}

.background-yellow-900 {
  background-color: #F57F17;
}

.background-yellow-A100 {
  background-color: #FFFF8D;
}

.background-yellow-A200 {
  background-color: #FFFF00;
}

.background-yellow-A400 {
  background-color: #FFEA00;
}

.background-yellow-A700 {
  background-color: #FFD600;
}

.background-amber-50 {
  background-color: #FFF8E1;
}

.background-amber-100 {
  background-color: #FFECB3;
}

.background-amber-200 {
  background-color: #FFE082;
}

.background-amber-300 {
  background-color: #FFD54F;
}

.background-amber-400 {
  background-color: #FFCA28;
}

.background-amber-500 {
  background-color: #FFC107;
}

.background-amber-600 {
  background-color: #FFB300;
}

.background-amber-700 {
  background-color: #FFA000;
}

.background-amber-800 {
  background-color: #FF8F00;
}

.background-amber-900 {
  background-color: #FF6F00;
}

.background-amber-A100 {
  background-color: #FFE57F;
}

.background-amber-A200 {
  background-color: #FFD740;
}

.background-amber-A400 {
  background-color: #FFC400;
}

.background-amber-A700 {
  background-color: #FFAB00;
}

.background-orange-50 {
  background-color: #FFF3E0;
}

.background-orange-100 {
  background-color: #FFE0B2;
}

.background-orange-200 {
  background-color: #FFCC80;
}

.background-orange-300 {
  background-color: #FFB74D;
}

.background-orange-400 {
  background-color: #FFA726;
}

.background-orange-500 {
  background-color: #FF9800;
}

.background-orange-600 {
  background-color: #FB8C00;
}

.background-orange-700 {
  background-color: #F57C00;
}

.background-orange-800 {
  background-color: #EF6C00;
}

.background-orange-900 {
  background-color: #E65100;
}

.background-orange-A100 {
  background-color: #FFD180;
}

.background-orange-A200 {
  background-color: #FFAB40;
}

.background-orange-A400 {
  background-color: #FF9100;
}

.background-orange-A700 {
  background-color: #FF6D00;
}

.background-deep-orange-50 {
  background-color: #FBE9E7;
}

.background-deep-orange-100 {
  background-color: #FFCCBC;
}

.background-deep-orange-200 {
  background-color: #FFAB91;
}

.background-deep-orange-300 {
  background-color: #FF8A65;
}

.background-deep-orange-400 {
  background-color: #FF7043;
}

.background-deep-orange-500 {
  background-color: #FF5722;
}

.background-deep-orange-600 {
  background-color: #F4511E;
}

.background-deep-orange-700 {
  background-color: #E64A19;
}

.background-deep-orange-800 {
  background-color: #D84315;
}

.background-deep-orange-900 {
  background-color: #BF360C;
}

.background-deep-orange-A100 {
  background-color: #FF9E80;
}

.background-deep-orange-A200 {
  background-color: #FF6E40;
}

.background-deep-orange-A400 {
  background-color: #FF3D00;
}

.background-deep-orange-A700 {
  background-color: #DD2C00;
}

.background-brown-50 {
  background-color: #EFEBE9;
}

.background-brown-100 {
  background-color: #D7CCC8;
}

.background-brown-200 {
  background-color: #BCAAA4;
}

.background-brown-300 {
  background-color: #A1887F;
}

.background-brown-400 {
  background-color: #8D6E63;
}

.background-brown-500 {
  background-color: #795548;
}

.background-brown-600 {
  background-color: #6D4C41;
}

.background-brown-700 {
  background-color: #5D4037;
}

.background-brown-800 {
  background-color: #4E342E;
}

.background-brown-900 {
  background-color: #3E2723;
}

.background-grey-50 {
  background-color: #FAFAFA;
}

.background-grey-100 {
  background-color: #F5F5F5;
}

.background-grey-200 {
  background-color: #EEEEEE;
}

.background-grey-300 {
  background-color: #E0E0E0;
}

.background-grey-400 {
  background-color: #BDBDBD;
}

.background-grey-500 {
  background-color: #9E9E9E;
}

.background-grey-600 {
  background-color: #757575;
}

.background-grey-700 {
  background-color: #616161;
}

.background-grey-800 {
  background-color: #424242;
}

.background-grey-900 {
  background-color: #212121;
}

.background-blue-grey-50 {
  background-color: #ECEFF1;
}

.background-blue-grey-100 {
  background-color: #CFD8DC;
}

.background-blue-grey-200 {
  background-color: #B0BEC5;
}

.background-blue-grey-300 {
  background-color: #90A4AE;
}

.background-blue-grey-400 {
  background-color: #78909C;
}

.background-blue-grey-500 {
  background-color: #607D8B;
}

.background-blue-grey-600 {
  background-color: #546E7A;
}

.background-blue-grey-700 {
  background-color: #455A64;
}

.background-blue-grey-800 {
  background-color: #37474F;
}

.background-blue-grey-900 {
  background-color: #263238;
}

.background-white {
  background-color: #FFF;
}

.background-black {
  background-color: #000;
}

/*--------------------------------------------------
  Object-fit
--------------------------------------------------*/
.object-fit {
  object-fit: inherit;
  width: 100%;
  height: 100%;
}
.fill.object-fit {
  object-fit: fill;
  font-family: "object-fit: fill;";
}
.contain.object-fit {
  object-fit: contain;
  font-family: "object-fit: contain;";
}
.cover.object-fit {
  object-fit: cover;
  font-family: "object-fit: cover;";
}
.none.object-fit {
  object-fit: none;
  font-family: "object-fit: none;";
}
.scale_down.object-fit {
  object-fit: scale-down;
  font-family: "object-fit: scale-down;";
}
.bottom.object-fit {
  object-position: bottom;
}
.center.object-fit {
  object-position: center;
}
.left.object-fit {
  object-position: left;
}
.right.object-fit {
  object-position: right;
}
.top.object-fit {
  object-position: top;
}

@media (min-width: 1021px) {
  .object-fit-desktop {
    object-fit: inherit;
    width: 100%;
    height: 100%;
  }
  .object-fit-desktop.fill {
    object-fit: fill;
    font-family: "object-fit: fill;";
  }
  .object-fit-desktop.contain {
    object-fit: contain;
    font-family: "object-fit: contain;";
  }
  .object-fit-desktop.cover {
    object-fit: cover;
    font-family: "object-fit: cover;";
  }
  .object-fit-desktop.none {
    object-fit: none;
    font-family: "object-fit: none;";
  }
  .object-fit-desktop.scale_down {
    object-fit: scale-down;
    font-family: "object-fit: scale-down;";
  }
  .object-fit-desktop.bottom {
    object-position: bottom;
  }
  .object-fit-desktop.center {
    object-position: center;
  }
  .object-fit-desktop.left {
    object-position: left;
  }
  .object-fit-desktop.right {
    object-position: right;
  }
  .object-fit-desktop.top {
    object-position: top;
  }
}
@media (max-width: 1020px) {
  .object-fit-mobile {
    object-fit: inherit;
    width: 100%;
    height: 100%;
  }
  .object-fit-mobile.fill {
    object-fit: fill;
    font-family: "object-fit: fill;";
  }
  .object-fit-mobile.contain {
    object-fit: contain;
    font-family: "object-fit: contain;";
  }
  .object-fit-mobile.cover {
    object-fit: cover;
    font-family: "object-fit: cover;";
  }
  .object-fit-mobile.none {
    object-fit: none;
    font-family: "object-fit: none;";
  }
  .object-fit-mobile.scale_down {
    object-fit: scale-down;
    font-family: "object-fit: scale-down;";
  }
  .object-fit-mobile.bottom {
    object-position: bottom;
  }
  .object-fit-mobile.center {
    object-position: center;
  }
  .object-fit-mobile.left {
    object-position: left;
  }
  .object-fit-mobile.right {
    object-position: right;
  }
  .object-fit-mobile.top {
    object-position: top;
  }
}
/*--------------------------------------------------
  Display according to viewport
--------------------------------------------------*/
@media (min-width: 1021px) {
  .mobile {
    display: none !important;
  }
}
@media (max-width: 1020px) {
  .desktop {
    display: none !important;
  }
}
/*--------------------------------------------------
  Float
--------------------------------------------------*/
.float-left {
  float: left;
}

.float-right {
  float: right;
}

/*--------------------------------------------------
  Typoghrapy
--------------------------------------------------*/
.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-right {
  text-align: right;
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

.font-small {
  font-size: 1.3rem;
}

.font-medium {
  font-size: 1.4rem;
}

.font-large {
  font-size: 1.8rem;
}

.font-large {
  font-size: 2.2rem;
}

/*--------------------------------------------------
  Gutter
--------------------------------------------------*/
.gutter {
  margin: 0;
}
.gutter.top10 {
  margin-top: 10px;
}
.gutter.top20 {
  margin-top: 20px;
}
.gutter.top30 {
  margin-top: 30px;
}
.gutter.top40 {
  margin-top: 40px;
}
.gutter.top50 {
  margin-top: 50px;
}
.gutter.top60 {
  margin-top: 60px;
}
.gutter.top70 {
  margin-top: 70px;
}
.gutter.top80 {
  margin-top: 80px;
}
.gutter.top90 {
  margin-top: 90px;
}
.gutter.top100 {
  margin-top: 100px;
}
.gutter.bot10 {
  margin-bottom: 10px;
}
.gutter.bot20 {
  margin-bottom: 20px;
}
.gutter.bot30 {
  margin-bottom: 30px;
}
.gutter.bot40 {
  margin-bottom: 40px;
}
.gutter.bot50 {
  margin-bottom: 50px;
}
.gutter.bot60 {
  margin-bottom: 60px;
}
.gutter.bot70 {
  margin-bottom: 70px;
}
.gutter.bot80 {
  margin-bottom: 80px;
}
.gutter.bot90 {
  margin-bottom: 90px;
}
.gutter.bot100 {
  margin-bottom: 100px;
}

@media (min-width: 1021px) {
  .gutter.desktop-top10 {
    margin-top: 10px;
  }
  .gutter.desktop-top20 {
    margin-top: 20px;
  }
  .gutter.desktop-top30 {
    margin-top: 30px;
  }
  .gutter.desktop-top40 {
    margin-top: 40px;
  }
  .gutter.desktop-top50 {
    margin-top: 50px;
  }
  .gutter.desktop-top60 {
    margin-top: 60px;
  }
  .gutter.desktop-top70 {
    margin-top: 70px;
  }
  .gutter.desktop-top80 {
    margin-top: 80px;
  }
  .gutter.desktop-top90 {
    margin-top: 90px;
  }
  .gutter.desktop-top100 {
    margin-top: 100px;
  }
  .gutter.desktop-bot10 {
    margin-bottom: 10px;
  }
  .gutter.desktop-bot20 {
    margin-bottom: 20px;
  }
  .gutter.desktop-bot30 {
    margin-bottom: 30px;
  }
  .gutter.desktop-bot40 {
    margin-bottom: 40px;
  }
  .gutter.desktop-bot50 {
    margin-bottom: 50px;
  }
  .gutter.desktop-bot60 {
    margin-bottom: 60px;
  }
  .gutter.desktop-bot70 {
    margin-bottom: 70px;
  }
  .gutter.desktop-bot80 {
    margin-bottom: 80px;
  }
  .gutter.desktop-bot90 {
    margin-bottom: 90px;
  }
  .gutter.desktop-bot100 {
    margin-bottom: 100px;
  }
}
@media (max-width: 1020px) {
  .gutter.mobile-top10 {
    margin-top: 10px;
  }
  .gutter.mobile-top20 {
    margin-top: 20px;
  }
  .gutter.mobile-top30 {
    margin-top: 30px;
  }
  .gutter.mobile-top40 {
    margin-top: 40px;
  }
  .gutter.mobile-top50 {
    margin-top: 50px;
  }
  .gutter.mobile-top60 {
    margin-top: 60px;
  }
  .gutter.mobile-top70 {
    margin-top: 70px;
  }
  .gutter.mobile-top80 {
    margin-top: 80px;
  }
  .gutter.mobile-top90 {
    margin-top: 90px;
  }
  .gutter.mobile-top100 {
    margin-top: 100px;
  }
  .gutter.mobile-bot10 {
    margin-bottom: 10px;
  }
  .gutter.mobile-bot20 {
    margin-bottom: 20px;
  }
  .gutter.mobile-bot30 {
    margin-bottom: 30px;
  }
  .gutter.mobile-bot40 {
    margin-bottom: 40px;
  }
  .gutter.mobile-bot50 {
    margin-bottom: 50px;
  }
  .gutter.mobile-bot60 {
    margin-bottom: 60px;
  }
  .gutter.mobile-bot70 {
    margin-bottom: 70px;
  }
  .gutter.mobile-bot80 {
    margin-bottom: 80px;
  }
  .gutter.mobile-bot90 {
    margin-bottom: 90px;
  }
  .gutter.mobile-bot100 {
    margin-bottom: 100px;
  }
}
/*--------------------------------------------------
  z-depth
--------------------------------------------------*/
.z-depth {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 4px 0 rgba(0, 0, 0, 0.05), 0 2px 1px -2px rgba(0, 0, 0, 0.2);
}

.z-depth-1 {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15), 0 2px 8px 0 rgba(0, 0, 0, 0.1), 0 2px 1px -2px rgba(0, 0, 0, 0.2);
}

/*--------------------------------------------------
  site-branding
--------------------------------------------------*/
.site-branding {
  display: flex;
  align-items: center;
  margin: 0 10px;
  height: 100%;
  color: #424242;
  text-decoration: none;
  white-space: nowrap;
}
.site-branding:hover {
  color: #424242;
}
.site-branding img {
  max-width: 100%;
}
.site-branding .brand-name {
  color: inherit;
  font-size: 1.8rem;
  line-height: 1;
}

@media only screen and (min-width: 1021px) {
  .site-branding {
    margin: 0;
  }
  .site-branding .brand-name {
    font-size: 2.5rem;
  }
}
/*--------------------------------------------------
  social-nav
--------------------------------------------------*/
.social-nav {
  display: flex;
  list-style: none;
  margin: 0 -5px;
}
.social-nav li {
  height: 50px;
  padding: 0 5px;
  overflow: hidden;
}
.social-nav:hover li {
  opacity: 0.5;
  transition: all 200ms ease-in-out;
}
.social-nav li:hover {
  opacity: 1;
}
.social-nav a {
  display: block;
  width: 50px;
  height: 50px;
  color: #424242;
  font-size: 1.6rem;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.social-nav a:hover {
  background-color: rgba(238, 238, 238, 0.7);
}

@media only screen and (max-width: 1020px) {
  .social-nav {
    flex-direction: column;
  }
  .social-nav a {
    padding: 0 10px;
  }
}
/*--------------------------------------------------
  main-nav
--------------------------------------------------*/
.main-nav {
  display: block;
  width: 100%;
  padding: 20px 0;
  list-style: none;
}
.main-nav li {
  overflow: hidden;
}
.main-nav a {
  display: block;
  color: #424242;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main-nav a:hover {
  background-color: #E0E0E0;
}
.main-nav i {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 20px;
  text-align: center;
  line-height: 24px;
}

.main-nav li {
  height: 50px;
}
.main-nav a {
  padding: 0 10px;
  font-size: 1.4rem;
  line-height: 50px;
}
.main-nav a.active {
  color: #F44336;
  background-color: rgba(244, 67, 54, 0.1);
}

@media only screen and (min-width: 1021px) {
  .main-nav li {
    height: 60px;
  }
  .main-nav a {
    padding: 0 20px;
    font-size: 1.6rem;
    line-height: 60px;
  }
}
/*--------------------------------------------------
  headings
--------------------------------------------------*/
.section-heading, .article-heading, .atf-heading, .item-heading {
  font-size: 1.8rem;
  font-feature-settings: "palt";
  font-family: "Roboto Condensed", sans-serif;
}

/*--------------------------------------------------
  section-heading
--------------------------------------------------*/
.section-heading {
  position: relative;
  padding: 0 10px;
  line-height: 1;
  text-transform: uppercase;
}
.section-heading.no-marker::before {
  display: none;
}
.section-heading::before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  content: "";
  width: 5px;
  margin: auto;
  background-color: #B71C1C;
}

@media (min-width: 1021px) {
  .section-heading {
    padding: 0 20px;
    font-size: 2rem;
  }
}
/*--------------------------------------------------
  article-heading
--------------------------------------------------*/
.article-heading {
  margin: 0 0 10px;
  text-transform: uppercase;
}

@media (min-width: 1021px) {
  .article-heading {
    margin: 0 0 20px;
  }
}
/*--------------------------------------------------
  atf-heading
--------------------------------------------------*/
.atf-heading {
  color: #F44336;
  font-size: 2.2rem;
}

/*--------------------------------------------------
  item-heading
--------------------------------------------------*/
.item-heading {
  margin: 0 0 10px;
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: uppercase;
}

/*--------------------------------------------------
  item-info-text
--------------------------------------------------*/
.item-info-text {
  color: #616161;
}

/*--------------------------------------------------
  menu-btn
--------------------------------------------------*/
.menu-btn {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  padding: 10px;
  color: #424242 !important;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  text-transform: lowercase;
}
.menu-btn .menu-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}
.menu-btn .menu-inner {
  position: relative;
  display: block;
  width: inherit;
  height: 3px;
  background-color: #424242;
}
.menu-btn .menu-inner::after, .menu-btn .menu-inner::before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #424242;
  transition: all 60ms linear;
}
.menu-btn .menu-inner::before {
  top: -8px;
}
.menu-btn .menu-inner::after {
  bottom: -8px;
}
.menu-btn .menu-text {
  margin: 4px 0 0;
}
.active.menu-btn .menu-inner {
  background-color: rgba(0, 0, 0, 0);
}
.active.menu-btn .menu-inner::before {
  top: 0;
  transform: rotate(-40deg);
}
.active.menu-btn .menu-inner::after {
  bottom: 0;
  transform: rotate(40deg);
}

/*--------------------------------------------------
  btn
--------------------------------------------------*/
.button, .contact-form button, .contact-form input[type=button], .contact-form input[type=submit] {
  display: inline-block;
  padding: 0 30px;
  color: #FFF !important;
  font-size: 1.6rem;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 25px;
  background-color: #F44336;
  white-space: nowrap;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 4px 0 rgba(0, 0, 0, 0.05), 0 2px 1px -2px rgba(0, 0, 0, 0.2);
}
.button:hover, .contact-form button:hover, .contact-form input[type=button]:hover, .contact-form input[type=submit]:hover {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15), 0 2px 8px 0 rgba(0, 0, 0, 0.1), 0 2px 1px -2px rgba(0, 0, 0, 0.2);
}
.button:hover, .contact-form button:hover, .contact-form input[type=button]:hover, .contact-form input[type=submit]:hover, .button:focus, .contact-form button:focus, .contact-form input[type=button]:focus, .contact-form input[type=submit]:focus, .button:active, .contact-form button:active, .contact-form input[type=button]:active, .contact-form input[type=submit]:active, .button:visited, .contact-form button:visited, .contact-form input[type=button]:visited, .contact-form input[type=submit]:visited {
  color: #424242;
}
.btn-cluster {
  margin: -5px;
}
.btn-cluster .btn {
  margin: 5px;
}

.button.block {
  display: block;
}
.button.red {
  color: #FFF;
  background-color: #F44336;
}
.button.green {
  color: #FFF;
  background-color: #4CAF50;
}
.button.blue {
  color: #FFF;
  background-color: #2196F3;
}
.button.orange {
  color: #FFF;
  background-color: #FF9800;
}

/*--------------------------------------------------
  card
--------------------------------------------------*/
.card {
  background-color: #FFF;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  overflow: hidden;
}
.card > div {
  overflow: hidden;
}

.card > div {
  width: 100%;
}
.card .card-image {
  background-color: #E0E0E0;
}
.card .card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  font-family: 'object-fit: cover;';
}
.card .card-button, .card .card-content {
  padding: 30px 10px;
}

@media (min-width: 1021px) {
  .card .card-button, .card .card-content {
    padding: 30px 20px;
  }
}
/*----------------------------------------------
    form
-----------------------------------------------*/
.contact-form {
  position: relative;
  width: 100%;
}
.contact-form label {
  padding: 10px;
  font-size: 1.4rem;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 35px;
  white-space: nowrap;
}
.contact-form textarea {
  width: 100%;
  max-width: 100%;
  height: 150px;
  resize: none;
}
.contact-form input[type=text], .contact-form input[type=email], .contact-form input[type=number] {
  width: 100%;
  height: 50px;
}
.contact-form textarea, .contact-form input[type=text], .contact-form input[type=email], .contact-form input[type=number] {
  margin: 0 0 10px;
  padding: 15px 10px;
  font-size: 1.6rem;
  font-family: inherit;
  background-color: #F5F5F5;
  border: 1px solid #9E9E9E;
  border-radius: 4px;
}
.contact-form button, .contact-form input[type=button], .contact-form input[type=submit] {
  cursor: pointer;
  border: none;
}
.contact-form button:disabled:hover, .contact-form input[type=button]:disabled:hover, .contact-form input[type=submit]:disabled:hover {
  cursor: not-allowed;
  opacity: 0.75;
}
.contact-form button, .contact-form textarea, .contact-form input[type=text], .contact-form input[type=email], .contact-form input[type=button], .contact-form input[type=number], .contact-form input[type=submit] {
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.contact-form ::placeholder {
  color: #9E9E9E;
  font-size: 1.6rem;
  text-transform: uppercase;
}
.contact-form .submit-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.contact-form .terms-message {
  display: flex;
  align-items: center;
  margin: 0 0 10px;
  color: #9E9E9E;
  font-size: 1.3rem;
}
.contact-form .terms-message > * {
  padding: 0 10px;
}
.contact-form .thankyou-message {
  margin: 0 0 10px;
  color: #4CAF50;
}
.contact-form #honeypot {
  display: none;
}

@media only screen and (min-width: 1021px) {
  .contact-form label, .contact-form textarea, .contact-form input[type=text], .contact-form input[type=email] {
    margin: 0 0 20px;
    padding: 15px 20px;
  }
  .contact-form .terms-message, .contact-form .thankyou-message {
    margin: 0 0 20px;
  }
}
/*--------------------------------------------------
  search-bar
--------------------------------------------------*/
.search-bar {
  position: relative;
  width: 100%;
  max-width: 500px;
  border-radius: 25px;
}
.search-bar:hover, .search-bar:focus-within {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 4px 0 rgba(0, 0, 0, 0.05), 0 2px 1px -2px rgba(0, 0, 0, 0.2);
}
.search-bar label {
  display: none;
}
.search-bar input[type=text] {
  position: relative;
  width: 100%;
  height: 50px;
  padding: 10px 50px 10px 20px;
  font-family: inherit;
  font-size: 1.6rem;
  background-color: #F5F5F5;
  border: 1px solid #E0E0E0;
  border-radius: 25px;
  z-index: 2;
}
.search-bar input:focus::placeholder {
  color: #424242;
}
.search-bar button[type=submit] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  color: #9E9E9E;
  font-size: 1.6rem;
  border: none;
  background-color: transparent;
  z-index: 2;
}
.search-bar:hover input, .search-bar input:focus {
  border-color: transparent;
  background-color: #FFF;
}
.search-bar input, .search-bar button {
  cursor: pointer;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.search-bar ::placeholder {
  color: #9E9E9E;
  font-size: 1.6rem;
  text-transform: uppercase;
}
.search-bar .autocomplete-items {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 25px 0 0;
  background-color: #FFF;
  border-radius: 0 0 25px 25px;
  overflow: hidden;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 4px 0 rgba(0, 0, 0, 0.05), 0 2px 1px -2px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.search-bar .autocomplete-items::before {
  position: inherit;
  top: 25px;
  left: 0;
  right: 0;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #F5F5F5;
}
.search-bar .autocomplete-items div {
  padding: 10px 20px;
  cursor: pointer;
}
.search-bar .autocomplete-items div:first-child {
  margin: 25px 0 0;
}
.search-bar .autocomplete-items div:hover {
  background-color: #EEEEEE;
}
.search-bar .autocomplete-active {
  background-color: #F44336 !important;
  color: #FFF;
}

/*--------------------------------------------------
  container
--------------------------------------------------*/
.site-container {
  width: 100%;
  max-width: 1620px;
  margin: 0 auto;
}

/*--------------------------------------------------
  header-section
--------------------------------------------------*/
.header-section {
  position: fixed;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  background-color: #FAFAFA;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15), 0 2px 8px 0 rgba(0, 0, 0, 0.1), 0 2px 1px -2px rgba(0, 0, 0, 0.2);
  transition: all 160ms ease-in-out 500ms;
  z-index: 9;
}
.header-section > :nth-child(1) {
  order: 1;
  width: 40px;
}
.header-section > :nth-child(2) {
  order: 2;
  width: calc(100% - 40px);
}
.header-section > :nth-child(3) {
  order: 3;
}
.header-section > :nth-child(4) {
  order: 4;
  width: 100%;
}

@media (min-width: 1021px) {
  .header-section {
    flex-wrap: nowrap;
  }
  .header-section > :nth-child(2) {
    width: 100%;
    max-width: 300px;
  }
  .header-section > :nth-child(3) {
    width: 100%;
    max-width: calc(50% - 150px);
  }
  .header-section > :nth-child(4) {
    width: 100%;
    max-width: calc(50% - 150px);
  }
}
@media (max-width: 1020px) {
  .header-section.active {
    top: -80px;
  }
  .header-section.active.show, .header-section.menu-opened {
    top: 0 !important;
  }
}
/*--------------------------------------------------
  site-menu
--------------------------------------------------*/
.site-menu {
  display: flex;
  align-items: center;
  height: 60px;
}

/*--------------------------------------------------
  site-header 
--------------------------------------------------*/
.site-header {
  display: inherit;
  align-items: inherit;
  height: 60px;
}

@media (min-width: 1021px) {
  .site-header {
    width: auto;
    height: 80px;
    padding: 0 20px;
  }
}
/*--------------------------------------------------
  site-search
--------------------------------------------------*/
.site-search {
  display: inherit;
  align-items: inherit;
}

@media (min-width: 1021px) {
  .site-search {
    height: 80px;
    padding: 0 20px;
  }
}
/*--------------------------------------------------
  site-social
--------------------------------------------------*/
.site-social {
  display: inherit;
  align-items: inherit;
  justify-content: flex-end;
}

@media (min-width: 1021px) {
  .site-social {
    height: 80px;
    padding: 0 20px;
  }
}
/*--------------------------------------------------
  nav-section
--------------------------------------------------*/
.nav-section {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100vh;
  padding: 60px 0 0;
  transition: all 200ms ease-in-out;
  z-index: 2;
}
.nav-section.show {
  left: 0;
}
.nav-section > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

@media (min-width: 1021px) {
  .nav-section {
    left: 0;
    padding: 80px 0 0;
  }
}
@media (max-width: 1020px) {
  .nav-section {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 4px 0 rgba(0, 0, 0, 0.05), 0 2px 1px -2px rgba(0, 0, 0, 0.2);
  }
}
/*--------------------------------------------------
  main-section
--------------------------------------------------*/
.main-section {
  position: relative;
  padding: 60px 0 0;
}

@media (min-width: 1021px) {
  .main-section {
    margin-left: 300px;
    padding: 80px 0 0;
  }
}
/*--------------------------------------------------
  above-the-fold-section
--------------------------------------------------*/
.above-the-fold-section {
  height: 250px;
  padding: 0 10px 30px;
}
.above-the-fold-section > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #FAFAFA;
}
.above-the-fold-section h2 {
  text-align: center;
}

@media (min-width: 1021px) {
  .above-the-fold-section {
    height: 480px;
    padding: 20px 20px 50px;
  }
}
/*--------------------------------------------------
  footer-section
--------------------------------------------------*/
.footer-section {
  position: relative;
  color: #EEEEEE;
  background-color: #424242;
  border-top: 1px solid #FFF;
  z-index: 1;
}
.footer-section a {
  color: inherit;
  text-decoration: none;
}
.footer-section .footer {
  padding: 40px 20px;
}
.footer-section .footer-branding {
  margin: 0 0 10px;
  font-size: 1.4rem;
}
.footer-section .footer-info {
  font-size: 1.3rem;
  font-weight: 300;
}
.footer-section .footer-branding, .footer-section .footer-info {
  text-align: center;
}

@media (min-width: 1021px) {
  .footer-section {
    margin-left: 300px;
    color: #9E9E9E;
    background-color: #EEEEEE;
  }
  .footer-section .footer-branding, .footer-section .footer-info {
    text-align: left;
  }
}
/*--------------------------------------------------
  cluster
--------------------------------------------------*/
.catalog-cluster, .service-cluster {
  display: flex;
  flex-wrap: nowrap;
  margin: -10px;
  justify-content: flex-start !important;
  overflow: hidden;
}
.catalog-cluster > div, .service-cluster > div {
  flex-shrink: 0;
}

/*--------------------------------------------------
  catalog-cluster
--------------------------------------------------*/
.catalog-cluster a {
  color: #424242;
  text-decoration: none;
}
.catalog-cluster .catalog-item {
  width: 100%;
  padding: 10px;
}
.catalog-cluster .catalog-item > div {
  position: relative;
  height: 320px;
  transition: all 160ms linear;
}
.catalog-cluster .catalog-item > div > div {
  transition: inherit;
}
.catalog-cluster .catalog-item > div > div:nth-child(1) {
  height: 200px;
}
.catalog-cluster .catalog-item > div > div:nth-child(2) {
  height: calc(100% - 200px);
}
.catalog-cluster .catalog-item > div > div:nth-child(3) {
  position: absolute;
  bottom: -110px;
  opacity: 0;
  visibility: hidden;
}
.catalog-cluster .catalog-item > div > div:nth-child(2) * {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.catalog-cluster .catalog-item:hover > div {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 4px 0 rgba(0, 0, 0, 0.05), 0 2px 1px -2px rgba(0, 0, 0, 0.2);
}
.catalog-cluster .catalog-item:hover > div > div:nth-child(1) {
  height: 0;
}
.catalog-cluster .catalog-item:hover > div > div:nth-child(2) {
  height: 100%;
  padding-bottom: 110px;
}
.catalog-cluster .catalog-item:hover > div > div:nth-child(3) {
  bottom: 0;
  opacity: 1;
  visibility: visible;
}
.catalog-cluster .catalog-item:hover > div > div:nth-child(2) * {
  white-space: normal;
}
.catalog-cluster .catalog-item:hover > div > div:nth-child(2) *.item-info-text {
  height: calc(100% - 25px);
}

@media (min-width: 481px) {
  .catalog-cluster .catalog-item {
    width: 50%;
  }
}
@media (min-width: 721px) {
  .catalog-cluster .catalog-item {
    width: 33.33%;
  }
}
@media (min-width: 1021px) {
  .catalog-cluster .catalog-item {
    width: 50%;
  }
}
@media (min-width: 1201px) {
  .catalog-cluster .catalog-item {
    width: 33.33%;
  }
}
@media (min-width: 1601px) {
  .catalog-cluster .catalog-item {
    width: 20%;
  }
}
@media (max-width: 1600px) {
  .catalog-cluster {
    flex-wrap: wrap;
    margin: -5px;
  }
  .catalog-cluster .catalog-item {
    padding: 5px;
  }
}
/*--------------------------------------------------
  service-cluster
--------------------------------------------------*/
.service-cluster a {
  color: #424242;
  text-decoration: none;
}
.service-cluster .service-item {
  width: 100%;
  padding: 10px;
}
.service-cluster .service-item > div {
  position: relative;
  height: 100%;
  transition: all 160ms linear;
}
.service-cluster .service-item > div > div {
  transition: inherit;
}
.service-cluster .service-item > div > div:nth-child(1) {
  height: 200px;
}
.service-cluster .service-item > div > div:nth-child(2) {
  height: calc(100% - 200px);
}
.service-cluster .service-item > div > div:nth-child(3) {
  position: absolute;
  bottom: -110px;
  opacity: 0;
  visibility: hidden;
}
.service-cluster .service-item:hover > div {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 4px 0 rgba(0, 0, 0, 0.05), 0 2px 1px -2px rgba(0, 0, 0, 0.2);
}
.service-cluster .service-item:hover > div > div:nth-child(1) {
  height: 0;
}
.service-cluster .service-item:hover > div > div:nth-child(2) {
  height: 100%;
  padding-bottom: 230px;
}
.service-cluster .service-item:hover > div > div:nth-child(3) {
  bottom: 0;
  opacity: 1;
  visibility: visible;
}

@media (min-width: 721px) {
  .service-cluster .service-item {
    width: 33.33%;
  }
}
@media (min-width: 1021px) {
  .service-cluster .service-item {
    width: 100%;
  }
}
@media (min-width: 1201px) {
  .service-cluster .service-item {
    width: 33.33%;
  }
}
@media (max-width: 1600px) {
  .service-cluster {
    flex-wrap: wrap;
    margin: -5px;
  }
  .service-cluster .service-item {
    padding: 5px;
  }
}
/*--------------------------------------------------
  section
--------------------------------------------------*/
.section {
  padding: 30px 10px;
}
.section.no-pad {
  padding: 0;
}

@media (min-width: 1021px) {
  .section {
    padding: 50px 20px;
  }
}
/*--------------------------------------------------
  article
--------------------------------------------------*/
.article {
  padding: 40px 0 0;
}

/*--------------------------------------------------
  title-bar
--------------------------------------------------*/
.title-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 30px;
}
.title-bar.center {
  justify-content: center;
}
.title-bar a {
  color: #424242;
  text-decoration: none;
  text-transform: uppercase;
}
.title-bar a:hover {
  text-decoration: underline;
}

@media (min-width: 1021px) {
  .title-bar {
    margin: 0 0 50px;
  }
}
@media print {
  body {
    font-family: inherit;
    width: 100%;
  }

  section {
    page-break-inside: avoid;
  }
}

/*# sourceMappingURL=style.css.map */
