/*--------------------------------------------------
  HTML
--------------------------------------------------*/

html {
  min-width: 320px;
  color: $default-color;
  font-family: $font-family-roboto;
  font-size: 62.5%;
  line-height: $normal-height;
  @include font-smoothing;
  @include text-size-adjust(100%);
  @include box-sizing(border-box);
}

/*--------------------------------------------------
  Reset
--------------------------------------------------*/

*, 
*:before,
*:after {
  @include ua-pad-mar-reset;
  @include box-sizing(inherit);
}

/*--------------------------------------------------
  Outline
--------------------------------------------------*/

*:focus {
  outline: 1px dashed $default-color;

  @at-root {
    body:not(.tab-used ) *:focus { outline: none; }
  }
}

/*--------------------------------------------------
  Body
--------------------------------------------------*/

body {
  min-width: inherit;
  color: $default-color;
  font-size: $default-size;
  font-family: inherit;

  & ::-webkit-scrollbar {
    width: 2px;
    height: 2px;
    background-color: $grey-100;
  }
  
  & ::-webkit-scrollbar-thumb {
    background-color: $grey-400;
  }
}

/*--------------------------------------------------
  Links
--------------------------------------------------*/

a { 
  color: $primary-color;

  &:visited { color: rgba($color: $primary-color, $alpha: 0.5); }
  &:hover,
  &:active,
  &:focus { color: $hover-color; }
}

/*--------------------------------------------------
  Typography
--------------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: 1.15;

  & a { font-weight: inherit; }
}

em { font-style: italic; }

strong { font-weight: bolder; }

small { font-size: 75%; }

pre {
  font-family: monospace, monospace;
  font-size: 1.4rem;
}

/*--------------------------------------------------
  Main
--------------------------------------------------*/

main { display: block; }

/*--------------------------------------------------
  Table
--------------------------------------------------*/

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*--------------------------------------------------
  Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
--------------------------------------------------*/

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

/*--------------------------------------------------
  Correct the inheritance and scaling of font size in all browsers.
  Correct the odd `em` font sizing in all browsers.
--------------------------------------------------*/

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/*--------------------------------------------------
  Prevent `sub` and `sup` elements from 
  affecting the line height in all browsers.
--------------------------------------------------*/

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub { bottom: -0.25em; }

sup { top: -0.5em; }

/*--------------------------------------------------
  Remove the border on images inside links in IE 10-.
--------------------------------------------------*/

img { border-style: none; }

/*--------------------------------------------------
  Show the overflow in IE.
  Show the overflow in Edge.
--------------------------------------------------*/

button, input { overflow: visible; }
 
/*--------------------------------------------------
  Remove the inheritance of text transform in Edge, Firefox, and IE.
  Remove the inheritance of text transform in Firefox.
--------------------------------------------------*/

button, select { text-transform: none; }

/*--------------------------------------------------
  Remove the inner border and padding in Firefox.
--------------------------------------------------*/
 
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/*--------------------------------------------------
  Restore the focus styles unset by the previous rule.
--------------------------------------------------*/
 
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/*--------------------------------------------------
  Correct the padding in Firefox.
--------------------------------------------------*/

fieldset { padding: 0.35em 0.75em 0.625em; }

/*--------------------------------------------------
  Remove the default vertical scrollbar in IE.
--------------------------------------------------*/

textarea { overflow: auto; }

/*--------------------------------------------------
  Correct the cursor style of increment and decrement buttons in Chrome.
--------------------------------------------------*/

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/*--------------------------------------------------
  Correct the odd appearance in Chrome and Safari.
  Correct the outline style in Safari.
--------------------------------------------------*/
 
[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}
/*--------------------------------------------------
  Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
--------------------------------------------------*/

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*--------------------------------------------------
  Correct the inability to style clickable types in iOS and Safari.  
  Change font properties to `inherit` in Safari.
--------------------------------------------------*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

/*--------------------------------------------------
  Add the correct display in IE 10-.
--------------------------------------------------*/

[hidden] {
  display: none;
}
