/*----------------------------------------------
    form
-----------------------------------------------*/

@mixin form($extend: true) {
  @if $extend {
    @extend %form;
  } @else {
    & {
      position: relative;
      width: 100%;
    }
    
    & label {
      padding: 10px;
      font-size: $medium-size;
      font-weight: 300;
      text-transform: uppercase;
      line-height: 35px;
      white-space: nowrap;
    }

    & textarea {
      width: 100%;
      max-width: 100%;
      height: 150px;
      resize: none;
    }
    
    & input[type=text],
    & input[type=email],
    & input[type=number] {
      width: 100%;
      height: 50px;
    }

    & textarea,
    & input[type=text],
    & input[type=email],
    & input[type=number] {
      margin: 0 0 10px;
      padding: 15px 10px;
      font-size: $default-size;
      font-family: inherit;
      background-color: $grey-100;
      border: 1px solid $grey-500;
      border-radius: $card-radius;
    }

    & button,
    & input[type=button],
    & input[type=submit] {
      @include btn;
      cursor: pointer;
      border: none;
    }

    & button:disabled:hover,
    & input[type=button]:disabled:hover,
    & input[type=submit]:disabled:hover {
      cursor: not-allowed;
      opacity: 0.75;
    }
    
    & button,
    & textarea,
    & input[type=text],
    & input[type=email],
    & input[type=button],
    & input[type=number],
    & input[type=submit] {
      outline: none;
      -moz-appearance: none;
      -webkit-appearance: none;
    }
    
    & ::placeholder {
      color: $grey-500;
      font-size: $default-size;
      text-transform: uppercase;
    }

    & .submit-container { 
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
    }

    & .terms-message {
      display: flex;
      align-items: center;
      margin: 0 0 10px;
      color: $grey-500;
      font-size: $small-size;

      & > * { padding: 0 10px; }
    }

    & .thankyou-message {
      margin: 0 0 10px;
      color: $green-500;
    }

    & #honeypot { display: none; }
  }
}

%form { @include form($extend: false); }

.contact-form { @include form; }

@media only screen and (min-width: $media-medium + 1) {
  .contact-form { 
    & label,
    & textarea,
    & input[type=text],
    & input[type=email] {
      margin: 0 0 20px;
      padding: 15px 20px;
    }

    & .terms-message,
    & .thankyou-message { margin: 0 0 20px; }
  }
}


