/*--------------------------------------------------
  main-nav
--------------------------------------------------*/

@mixin main-nav($extend: true) {
  @if $extend {
    @extend %main-nav;
  } @else {
    & {
      display: block;
      width: 100%;
      padding: 20px 0;
      list-style: none;
    }

    & li { overflow: hidden; }

    & a {
      display: block;
      color: $default-color;
      font-weight: 500;
      text-decoration: none;
      text-transform: uppercase;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    & a:hover { background-color: $grey-300; }

    & i {
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-right: 20px;
      text-align: center;
      line-height: 24px;
    }
  }
}
  
%main-nav { @include main-nav($extend: false); }

.main-nav {
  @include main-nav;

  & li { height: 50px; }

  & a {
    padding: 0 10px;
    font-size: $medium-size;
    line-height: 50px;
  }

  & a.active {
    color: $primary-color;
    background-color: rgba($color: $primary-color, $alpha: 0.1);
  }
}

@media only screen and (min-width: $media-medium + 1) {
  .main-nav {

    & li { height: 60px; }

    & a {
      padding: 0 20px;
      font-size: $default-size;
      line-height: 60px;
    }
  }
}