/*--------------------------------------------------
  site-branding
--------------------------------------------------*/

@mixin site-branding($extend: true) {
  @if $extend {
    @extend %site-branding;
  } @else {
    & {
      display: flex;
      align-items: center;
      margin: 0 10px;
      height: 100%;
      color: $default-color;
      text-decoration: none;
      white-space: nowrap;
    }

    &:hover { color: $default-color; }

    & img { max-width: 100%; }

    & .brand-name {
      color: inherit;
      font-size: $large-size;
      line-height: 1;
    }
  }
}

%site-branding { @include site-branding($extend: false); }

.site-branding { @include site-branding; }

@media only screen and (min-width: $media-medium + 1) {
  .site-branding {
    margin: 0;
    & .brand-name { font-size: $extra-large-size + 0.3; }
  }
}