/*--------------------------------------------------
  headings
--------------------------------------------------*/

@mixin title($extend: true) {
  @if $extend {
    @extend %title;
  } @else {
    & {
      font-size: $large-size;
      font-feature-settings: "palt";
      font-family: $font-family-roboto-condensed;
    }
  }
}

%title { @include title($extend: false); }

/*--------------------------------------------------
  section-heading
--------------------------------------------------*/

.section-heading {
  @include title;
  position: relative;
  padding: 0 10px;
  line-height: 1;
  text-transform: uppercase;

  &.no-marker::before { display: none; }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    content: "";
    width: 5px;
    margin: auto;
    background-color: $accent-color;
  }
}

@media (min-width: $media-medium + 1) {
  .section-heading {
    padding: 0 20px;
    font-size: $large-size + 0.2;
  }
}

/*--------------------------------------------------
  article-heading
--------------------------------------------------*/

.article-heading {
  @include title;
  margin: 0 0 10px;
  text-transform: uppercase;
}

@media (min-width: $media-medium + 1) {
  .article-heading { margin: 0 0 20px; }
}

/*--------------------------------------------------
  atf-heading
--------------------------------------------------*/

.atf-heading {
  @include title;
  color: $primary-color;
  font-size: $extra-large-size;
}

/*--------------------------------------------------
  item-heading
--------------------------------------------------*/

.item-heading {
  @include title;
  margin: 0 0 10px;
  font-size: $large-size;
  font-weight: 500;
  text-transform: uppercase;
}

/*--------------------------------------------------
  item-info-text
--------------------------------------------------*/

.item-info-text {
  color: $grey-700;
}