// Layout 1

/*--------------------------------------------------
  header-section
--------------------------------------------------*/

.header-section { 
  position: fixed;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  background-color: $grey-50;
  box-shadow: $z-depth-1;
  transition: all 160ms ease-in-out 500ms;
  z-index: 9;

  & > :nth-child(1) {
    order: 1;
    width: 40px;
  }

  & > :nth-child(2) {
    order: 2;
    width: calc(100% - 40px);
  }

  & > :nth-child(3) {
    order: 3;
  }

  & > :nth-child(4) {
    order: 4;
    width: 100%;
  }
}

@media (min-width: $media-medium + 1) {
  .header-section {
    flex-wrap: nowrap;

    & > :nth-child(2) {
      width: 100%;
      max-width: 300px;
    }

    & > :nth-child(3) {
      width: 100%;
      max-width: calc(50% - 150px);
    }

    & > :nth-child(4) {
      width: 100%;
      max-width: calc(50% - 150px);
    }
  }
}

@media (max-width: $media-medium) {
  .header-section {

    &.active { top: -$header-height; }

    &.active.show,
    &.menu-opened { top: 0 !important; }
  }
}

/*--------------------------------------------------
  site-menu
--------------------------------------------------*/

.site-menu {
  display: flex;
  align-items: center;
  height: $header-height_m;
}

/*--------------------------------------------------
  site-header 
--------------------------------------------------*/

.site-header {
  display: inherit;
  align-items: inherit;
  height: $header-height_m;
}

@media (min-width: $media-medium + 1) {
  .site-header {
    width: auto;
    height: $header-height;
    padding: 0 20px; 
  }
}

/*--------------------------------------------------
  site-search
--------------------------------------------------*/

.site-search {
  display: inherit;
  align-items: inherit;
}

@media (min-width: $media-medium + 1) {
  .site-search {
    height: $header-height;
    padding: 0 20px; 
  }
}

/*--------------------------------------------------
  site-social
--------------------------------------------------*/

.site-social {
  display: inherit;
  align-items: inherit;
  justify-content: flex-end;
}

@media (min-width: $media-medium + 1) {
  .site-social {
    height: $header-height;
    padding: 0 20px; 
  }
}