/*--------------------------------------------------
  main-section
--------------------------------------------------*/

.main-section {
  position: relative;
  padding: $header-height_m 0 0;
}

@media (min-width: $media-medium + 1) {
  .main-section {
    margin-left: 300px;
    padding: $header-height 0 0;
  }
}