/*--------------------------------------------------
  nav-section
--------------------------------------------------*/

.nav-section {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100vh;
  padding: $header-height_m 0 0;
  transition: all 200ms ease-in-out;
  z-index: 2;

  &.show {
    left: 0;
  }

  & > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

@media (min-width: $media-medium + 1) {
  .nav-section {
    left: 0;
    padding: $header-height 0 0;
  }
}

@media (max-width: $media-medium) {
  .nav-section {
    box-shadow: $z-depth;
  }
}