/*--------------------------------------------------
  section
--------------------------------------------------*/

.section { 
  padding: 30px 10px;

  &.no-pad { padding: 0; }
}

@media (min-width: $media-medium + 1) {
  .section { padding: 50px 20px; }
}

/*--------------------------------------------------
  article
--------------------------------------------------*/

.article { padding: 40px 0 0; }

/*--------------------------------------------------
  title-bar
--------------------------------------------------*/

.title-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 30px;

  &.center { justify-content: center; }

  & a {
    color: $default-color;
    text-decoration: none;
    text-transform: uppercase;

    &:hover { text-decoration: underline; }
  }
}

@media (min-width: $media-medium + 1) {
  .title-bar { margin: 0 0 50px; }
}